@model AgenciaViagemTrabalho.Models.Passagem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Passagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Embarque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Embarque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acompanhantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acompanhantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
